body{ 
  overflow:hidden;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.header{
  background-color:lightgray;
  height:10vh;
  width:100vw;
  padding:10px;
}

.header img{
  height:8vh;
}

.btn{
  height:3vh;
}

.btn2{
  height:50px;
}

.cardarea{
  display:grid;
  width:100vw;
  height:90vh;
  
  grid-template-columns:25% 75%;
  grid-row-gap:5px;
  background-color:ghostwhite;
}

iframe{
  height:25px;
}
.card{
  display:grid;
  grid-template-rows:40% 60%;
   width: 100px;
   height: 150px;
   background-color: #1DB954;
   padding: 10px;
  border-radius:10px;
   cursor: grab;
   user-select: none;
   }
.card img{
  width:75px;
}
   .drop-area {
   width: 360px;
   height: 180px;
   border: 2px dashed gray;
     background-color:ghostwhite;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: larger;
   font-weight: bold;
   color: #000;
   }



.cards{
  background-color:ghostwhite;
  width:400px;
  display:grid;
  grid-template-columns:auto auto;
}

.gamearea{
  background-color:grey;

  display:grid;
  grid-template-columns:25% 25% 25% 25%
}
.carddetails{

}

.clickbtn{
  background-color:darkgray;
  width: 360px;
   height: 180px;
}

