body{
  
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  width:100vw;
}

.header{
  background-color:blueviolet;
  padding:10px;
  height:20vh;
  width:100vw;
  font-size:2em;
  border-top-left-radius:10px;
}

.content{
  background-color:orangered;
  display: grid;
  grid-template-columns: auto auto auto;
  height:60vh;
  width:100vw;
}